openapi: 3.0.2
info:
  title: Routing API v8
  version: 8.23.1
  description: A location service providing customizable route calculations for a
    variety of vehicle types as well as pedestrian modes.
  termsOfService: http://developer.here.com/terms-conditions
  license:
    name: HERE Documentation License
    url: https://legal.here.com/en-gb/terms/documentation-license
  x-document-meta-data:
    copyright: "© 2021 HERE Europe B.V."
    document-id: d43cf84a-1584-41b6-affd-e82af533e461
    date-created: '2021-06-04T10:59:13+00:00'
security:
- bearerAuth: []
- apiKey: []
servers:
- url: https://router.hereapi.com/v8
  description: Production server for the HERE Routing Service
paths:
  "/routes":
    get:
      operationId: calculateRoutes
      summary: Calculate routes via GET
      tags:
      - Routing
      description: Calculates a route using a generic vehicle/pedestrian mode, e.g.
        car, truck, pedestrian, etc...
      parameters:
      - "$ref": "#/components/parameters/transportMode"
      - "$ref": "#/components/parameters/origin"
      - "$ref": "#/components/parameters/destination"
      - "$ref": "#/components/parameters/via"
      - "$ref": "#/components/parameters/departureTimeWithAny"
      - "$ref": "#/components/parameters/routingMode"
      - "$ref": "#/components/parameters/alternatives"
      - "$ref": "#/components/parameters/avoid"
      - "$ref": "#/components/parameters/exclude"
      - "$ref": "#/components/parameters/units"
      - "$ref": "#/components/parameters/lang"
      - "$ref": "#/components/parameters/return"
      - "$ref": "#/components/parameters/spans"
      - "$ref": "#/components/parameters/truck"
      - "$ref": "#/components/parameters/ev"
      - "$ref": "#/components/parameters/vehicle"
      - "$ref": "#/components/parameters/pedestrianSpeed"
      - "$ref": "#/components/parameters/xRequestId"
      - "$ref": "#/components/parameters/scooter"
      - "$ref": "#/components/parameters/currency"
      responses:
        200:
          "$ref": "#/components/responses/RoutesResponseOk"
        400:
          "$ref": "#/components/responses/InvalidRoutesRequestResponse"
        401:
          "$ref": "#/components/responses/401ErrorResponseWithRequestID"
        403:
          "$ref": "#/components/responses/Routing403ErrorResponse"
        500:
          "$ref": "#/components/responses/InternalServerErrorRoutesResponse"
    post:
      operationId: calculateRoutesPost
      summary: Calculate routes via POST
      tags:
      - Routing
      description: |
        **Note** : This functionality is *Coming Soon*

        Calculates a route using a generic vehicle/pedestrian mode, e.g. car, truck, pedestrian, etc...

        Parameters can be provided either in the query string or in the POST body. If a parameter is
        provided in both, the request will fail.
      parameters:
      - "$ref": "#/components/parameters/transportMode"
      - "$ref": "#/components/parameters/origin"
      - "$ref": "#/components/parameters/destination"
      - "$ref": "#/components/parameters/via"
      - "$ref": "#/components/parameters/departureTimeWithAny"
      - "$ref": "#/components/parameters/routingMode"
      - "$ref": "#/components/parameters/alternatives"
      - "$ref": "#/components/parameters/avoid"
      - "$ref": "#/components/parameters/exclude"
      - "$ref": "#/components/parameters/units"
      - "$ref": "#/components/parameters/lang"
      - "$ref": "#/components/parameters/return"
      - "$ref": "#/components/parameters/spans"
      - "$ref": "#/components/parameters/truck"
      - "$ref": "#/components/parameters/ev"
      - "$ref": "#/components/parameters/vehicle"
      - "$ref": "#/components/parameters/pedestrianSpeed"
      - "$ref": "#/components/parameters/xRequestId"
      - "$ref": "#/components/parameters/scooter"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CalculateRoutesParameters"
      responses:
        200:
          "$ref": "#/components/responses/RoutesResponseOk"
        400:
          "$ref": "#/components/responses/InvalidRoutesRequestResponse"
        401:
          "$ref": "#/components/responses/401ErrorResponseWithRequestID"
        403:
          "$ref": "#/components/responses/Routing403ErrorResponse"
        500:
          "$ref": "#/components/responses/InternalServerErrorRoutesResponse"
  "/routes/{routeHandle}":
    get:
      operationId: getRoutesByHandle
      summary: Get route by handle
      tags:
      - Routing
      description: |
        Decodes and returns a route from a previously calculated route handle.

        **Alpha**: This API is not yet stable and is subject to change.

        A route handle encodes a previously calculated route. A route can be decoded from a handle
        as long the service uses the same map data which was used during encoding.

        All parameters of the `/routes` endpoint are supported, except for `destination`, `via`,
        `alternatives` and `routingMode`. See also the `return` parameter of `/routes` endpoint.

        The `origin` parameter can be provided to update the start of the previously calculated
        route.

        The `transportMode` parameter does not have to match the transport mode previously used for
        route calculation. However, when using a different transport mode, the request may fail,
        e.g. when the route has road segments forbidden for the provided transport mode.
      parameters:
      - "$ref": "#/components/parameters/routeHandle"
      - "$ref": "#/components/parameters/transportMode"
      - "$ref": "#/components/parameters/routeHandleOrigin"
      - "$ref": "#/components/parameters/departureTimeWithAny"
      - "$ref": "#/components/parameters/avoid"
      - "$ref": "#/components/parameters/exclude"
      - "$ref": "#/components/parameters/units"
      - "$ref": "#/components/parameters/lang"
      - "$ref": "#/components/parameters/return"
      - "$ref": "#/components/parameters/spans"
      - "$ref": "#/components/parameters/truck"
      - "$ref": "#/components/parameters/ev"
      - "$ref": "#/components/parameters/vehicle"
      - "$ref": "#/components/parameters/xRequestId"
      - "$ref": "#/components/parameters/scooter"
      - "$ref": "#/components/parameters/rerouting"
      responses:
        200:
          "$ref": "#/components/responses/RoutesResponseOk"
        400:
          "$ref": "#/components/responses/InvalidRoutesRequestResponse"
        401:
          "$ref": "#/components/responses/401ErrorResponseWithRequestID"
        403:
          "$ref": "#/components/responses/Routing403ErrorResponse"
        500:
          "$ref": "#/components/responses/InternalServerErrorRoutesResponse"
    post:
      operationId: getRoutesByHandlePost
      summary: Get route by handle via POST
      tags:
      - Routing
      description: |
        Decodes and returns a route from a previously calculated route handle.

        **Alpha**: This API is coming soon. It may not be stable and is subject to change.

        A route handle encodes a previously calculated route. A route can be decoded from a handle
        as long the service uses the same map data which was used during encoding.

        All parameters of the `/routes` endpoint are supported, except for `destination`, `via`,
        `alternatives` and `routingMode`. See also the `return` parameter of `/routes` endpoint.

        The `origin` parameter can be provided to update the start of the previously calculated
        route.

        The `transportMode` parameter does not have to match the transport mode previously used for
        route calculation. However, when using a different transport mode, the request may fail,
        e.g. when the route has road segments forbidden for the provided transport mode.

        Parameters can be provided either in the query string or in the POST body. If a parameter is
        provided in both, the request will fail.
      parameters:
      - "$ref": "#/components/parameters/routeHandle"
      - "$ref": "#/components/parameters/transportMode"
      - "$ref": "#/components/parameters/routeHandleOrigin"
      - "$ref": "#/components/parameters/departureTimeWithAny"
      - "$ref": "#/components/parameters/avoid"
      - "$ref": "#/components/parameters/exclude"
      - "$ref": "#/components/parameters/units"
      - "$ref": "#/components/parameters/lang"
      - "$ref": "#/components/parameters/return"
      - "$ref": "#/components/parameters/spans"
      - "$ref": "#/components/parameters/truck"
      - "$ref": "#/components/parameters/ev"
      - "$ref": "#/components/parameters/vehicle"
      - "$ref": "#/components/parameters/xRequestId"
      - "$ref": "#/components/parameters/scooter"
      - "$ref": "#/components/parameters/rerouting"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GetRoutesByHandleParameters"
      responses:
        200:
          "$ref": "#/components/responses/RoutesResponseOk"
        400:
          "$ref": "#/components/responses/InvalidRoutesRequestResponse"
        401:
          "$ref": "#/components/responses/401ErrorResponseWithRequestID"
        403:
          "$ref": "#/components/responses/Routing403ErrorResponse"
        500:
          "$ref": "#/components/responses/InternalServerErrorRoutesResponse"
  "/import":
    post:
      operationId: importRoute
      summary: Calculate a route from a sequence of trace points
      tags:
      - Routing
      description: |
        Creates a route from a sequence of trace points.

        **Alpha**: This API is coming soon. It may not be stable and is subject to change.
      parameters:
      - "$ref": "#/components/parameters/transportMode"
      - "$ref": "#/components/parameters/departureTimeWithAny"
      - "$ref": "#/components/parameters/avoid"
      - "$ref": "#/components/parameters/exclude"
      - "$ref": "#/components/parameters/units"
      - "$ref": "#/components/parameters/lang"
      - "$ref": "#/components/parameters/return"
      - "$ref": "#/components/parameters/spans"
      - "$ref": "#/components/parameters/truck"
      - "$ref": "#/components/parameters/ev"
      - "$ref": "#/components/parameters/vehicle"
      - "$ref": "#/components/parameters/xRequestId"
      - "$ref": "#/components/parameters/scooter"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MatchTrace"
          application/geo+json:
            schema:
              oneOf:
              - "$ref": "#/components/schemas/LineString"
              discriminator:
                propertyName: type
                mapping:
                  LineString: "../shared/common.yaml#/components/schemas/LineString"
      responses:
        200:
          "$ref": "#/components/responses/RoutesResponseOk"
        400:
          "$ref": "#/components/responses/InvalidRoutesRequestResponse"
        401:
          "$ref": "#/components/responses/401ErrorResponseWithRequestID"
        403:
          "$ref": "#/components/responses/Routing403ErrorResponse"
        500:
          "$ref": "#/components/responses/InternalServerErrorRoutesResponse"
  "/health":
    get:
      operationId: getHealth
      summary: Health status of the service
      tags:
      - Common
      description: Returns the health of the service
      parameters:
      - "$ref": "#/components/parameters/xRequestId"
      security: []
      responses:
        200:
          "$ref": "#/components/responses/HealthResponseOkWithRequestID"
        default:
          "$ref": "#/components/responses/HealthResponseFailWithRequestID"
  "/version":
    get:
      operationId: getVersion
      summary: Full version of the API
      tags:
      - Common
      description: Returns the version of the service
      parameters:
      - "$ref": "#/components/parameters/xRequestId"
      security: []
      responses:
        200:
          "$ref": "#/components/responses/VersionResponseOkWithRequestID"
        500:
          "$ref": "#/components/responses/500ErrorResponseWithRequestID"
        502:
          "$ref": "#/components/responses/502ErrorResponseWithRequestID"
        503:
          "$ref": "#/components/responses/503ErrorResponseWithRequestID"
        504:
          "$ref": "#/components/responses/504ErrorResponseWithRequestID"
components:
  parameters:
    alternatives:
      name: alternatives
      description: Number of alternative routes to return aside from the optimal route.
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        maximum: 6
        default: 0
    avoid:
      name: avoid
      description: |
        Avoid routes that violate certain features of road network or that go through
        user-specified geographical bounding boxes.

        Note that if the origin, destination, or any via is in an avoided area or on an avoided
        feature, a route is produced that violates the avoid restriction. In such a case, the
        route is trying to minimize the violation of the avoid restrictions and can therefore
        include large deviations from a route that is calculated without these avoid
        restrictions.

        It is also possible that the produced route violates the avoid restriction in between
        waypoints, if no other route is possible or too hard to find. One such example is
        requesting a route to an island that is only reachable with ferries while specifying
        `avoid[features]=ferry`.

        Further, avoid can cause the route calculation to fail, if no route is possible or too
        hard to find.

        Specify properties using array notation like `avoid[features]=controlledAccessHighway,tunnel`.
      in: query
      allowReserved: true
      required: false
      style: deepObject
      schema:
        "$ref": "#/components/schemas/Avoid"
      examples:
        features:
          summary: Avoid specific features like `tunnel' or `ferry`
          value: avoid[features]=tunnel,ferry
        area:
          summary: Avoid a specific geographical bounding box
          value: avoid[areas]=bbox:13.082,52.416,13.628,52.626
        areas:
          summary: Avoid multiple geographical bounding boxes using `|` as element
            separator
          value: avoid[areas]=bbox:13.3127778,52.5106221,13.3495852,52.5255681|bbox:13.3958343,52.5171209,13.4286456,52.5405511
        complete:
          summary: Avoid both features and geographical bounding boxes
          value: avoid[features]=tollRoad,tunnel&avoid[areas]=bbox:13.082,52.416,13.628,52.626
        segment:
          summary: Avoid a segment using its identifier
          value: avoid[segments]=here:cm:segment:207551710
        segmentsWithDirection:
          summary: Avoid two segments using their identifiers, also specifying the
            direction
          value: avoid[segments]=here:cm:segment:207551710#+,here:cm:segment:76771992#*
        zones:
          summary: Avoid multiple environmental zones using identifiers
          value: avoid[zoneIdentifiers]=here:cm:envzone:2,here:cm:envzone:3
        zoneCategory:
          summary: Avoid all environmental zones
          value: avoid[zoneCategories]=environmental
        zoneCategoryWithException:
          summary: Avoid all environmental zones except a specific one
          value: avoid[zoneCategories]=environmental;exceptZoneIds=here:cm:envzone:2
        tollTransponders:
          summary: Avoid all toll transponders
          value: avoid[tollTransponders]=all
    currency:
      name: currency
      in: query
      description: |
        Currency code compliant to ISO 4217.
        Costs for the calculated route will be returned using this currency.

        If not provided, the router will specify it.
        On a best-effort basis, the router will try to specify the costs in the local currency.
      required: false
      schema:
        type: string
    departureTimeWithAny:
      name: departureTime
      description: |
        Specifies the time of departure as defined by either `date-time` or `full-date` `T`
        `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).

        The requested time is converted to local time at origin. When the optional timezone offset
        is not specified, time is assumed to be local. The special value `any` can be used to
        indicate that time should not be taken into account during routing. If neither
        `departureTime` or `arrivalTime` are specified, current time at departure place will be
        used. All time values in the response are returned in the timezone of each location.
      in: query
      allowReserved: true
      required: false
      schema:
        "$ref": "#/components/schemas/TimeWithAny"
    destination:
      name: destination
      description: |
        A location defining the destination of the trip.

        ## Format

        Format: `Place[WaypointOptions]`

        * Place: `{lat},{lng}[PlaceOptions]`
        * PlaceOptions: `;option1=value1;option2=value2...`
        * WaypointOptions: `!option1=value1!option2=value2...`

        A waypoint consists of:

        * Exactly one place
        * Optional settings for the place
        * Optional settings for the waypoint itself

        Supported place options:

        * `course`: int, degrees clock-wise from north. Indicating desired direction at the place.
          E.g. `90` indicating `east`. Often combined with `radius` and/or `minCourseDistance`
        * `sideOfStreetHint`: `{lat},{lng}`. Indicating the side of the street that should be
          used. E.g. if the location is to the left of the street, the router will prefer using
          that side in case the street has dividers. E.g.
          `52.511496,13.304140;sideOfStreetHint=52.512149,13.304076` indicates that the `north`
          side of the street should be preferred. This option is required, if `matchSideOfStreet`
          is set to `always`.
        * `matchSideOfStreet`: enum `[always, onlyIfDivided]`. Specifies how the location set by
          `sideOfStreetHint` should be handled. Requires `sideOfStreetHint` to be specified as
          well.
          + `always` : Always prefer the given side of street.
          + `onlyIfDivided`: Only prefer using side of street set by `sideOfStreetHint` in case
            the street has dividers. This is the default behavior.
        * `nameHint`: string. Causes the router to look for the place with the most similar name.
          This can e.g. include things like: `North` being used to differentiate between
          interstates `I66 North` and `I66 South`, `Downtown Avenue` being used to correctly
          select a residental street.
        * `radius`: int, meters. Asks the router to consider all places within the given radius as
          potential candidates for route calculation. This can be either because it is not
          important which place is used, or because it is unknown. Radius more than 200meter are
          not supported.
        * `minCourseDistance`: int, meters. Asks the routing service to try find a route that avoids actions for
          the indicated distance. E.g. if the origin is determined by a moving vehicle, the user
          might not have time to react to early actions.

        Supported waypoint options:

        * `stopDuration`: desired duration for the stop, in seconds. The section arriving at this
          via waypoint will have a `wait` post action reflecting the stopping time. The
          consecutive section will start at the arrival time of the former section + stop
          duration.
        * `passThrough`: option is not supported for 'destination'.

        Notes:

        * Non-structural reserved characters in options' values need to be properly percent-encoded.
          Please refer to the developers' guide for more details.
      in: query
      allowReserved: true
      required: true
      schema:
        "$ref": "#/components/schemas/Waypoint"
      examples:
        coordinate:
          value: 51.611571,11.351608
          summary: A simple WGS84 coordinate
        side:
          value: 52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always
          summary: Populating sideOfStreetHint in addition to location to avoid ending
            on the wrong side of the street
        course:
          value: 51.611571,11.351608;course=170;radius=20;minCourseDistance=500
          summary: Setting course/radius/minCourseDistance an uncertain GPS coordinate
            of a moving vehicle
        name:
          value: 52.510319,13.285616;nameHint=Kaiserdamm
          summary: Setting nameHint to avoid matching to the wrong location
        duration:
          value: 51.611571,11.351608!stopDuration=600
          summary: Addition a stopDuration for an intermediate stop
    ev:
      name: ev
      in: query
      allowReserved: true
      required: false
      style: deepObject
      schema:
        "$ref": "#/components/schemas/EV"
    exclude:
      name: exclude
      description: 'Defines properties which will be strictly excluded from route
        calculation.

'
      in: query
      required: false
      style: deepObject
      schema:
        "$ref": "#/components/schemas/Exclude"
      examples:
        country:
          summary: Exclude the country of Switzerland from the route calculation
          value: exclude[countries]=CHE
        countries:
          summary: Exclude both the country of Switzerland and the country of Austria
            from the route calculation
          value: exclude[countries]=CHE,AUT
    lang:
      name: lang
      description: 'Specifies the preferred language of the response. The value should
        comply with the [IETF BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt).

'
      in: query
      schema:
        type: string
        default: en-US
    origin:
      name: origin
      description: |
        A location defining the origin of the trip.

        ## Format

        Format: `Place[WaypointOptions]`

        * Place: `{lat},{lng}[PlaceOptions]`
        * PlaceOptions: `;option1=value1;option2=value2...`
        * WaypointOptions: `!option1=value1!option2=value2...`

        A waypoint consists of:

        * Exactly one place
        * Optional settings for the place
        * Optional settings for the waypoint itself

        Supported place options:

        * `course`: int, degrees clock-wise from north. Indicating desired direction at the place.
          E.g. `90` indicating `east`. Often combined with `radius` and/or `minCourseDistance`
        * `sideOfStreetHint`: `{lat},{lng}`. Indicating the side of the street that should be
          used. E.g. if the location is to the left of the street, the router will prefer using
          that side in case the street has dividers. E.g.
          `52.511496,13.304140;sideOfStreetHint=52.512149,13.304076` indicates that the `north`
          side of the street should be preferred. This option is required, if `matchSideOfStreet`
          is set to `always`.
        * `matchSideOfStreet`: enum `[always, onlyIfDivided]`. Specifies how the location set by
          `sideOfStreetHint` should be handled. Requires `sideOfStreetHint` to be specified as
          well.
          + `always` : Always prefer the given side of street.
          + `onlyIfDivided`: Only prefer using side of street set by `sideOfStreetHint` in case
            the street has dividers. This is the default behavior.
        * `nameHint`: string. Causes the router to look for the place with the most similar name.
          This can e.g. include things like: `North` being used to differentiate between
          interstates `I66 North` and `I66 South`, `Downtown Avenue` being used to correctly
          select a residental street.
        * `radius`: int, meters. Asks the router to consider all places within the given radius as
          potential candidates for route calculation. This can be either because it is not
          important which place is used, or because it is unknown. Radius more than 200meter are
          not supported.
        * `minCourseDistance`: int, meters. Asks the routing service to try find a route that avoids actions for
          the indicated distance. E.g. if the origin is determined by a moving vehicle, the user
          might not have time to react to early actions.

        Notes:

        * `stopDuration` option is not supported for `origin`, contrary to `destination` and
          `via` waypoints.
        * `passThrough`: option is not supported for 'origin'.
        * Non-structural reserved characters in options' values need to be properly percent-encoded.
          Please refer to the developers' guide for more details.
      in: query
      allowReserved: true
      required: true
      schema:
        "$ref": "#/components/schemas/Waypoint"
      examples:
        coordinate:
          value: 51.611571,11.351608
          summary: A simple WGS84 coordinate
        side:
          value: 52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always
          summary: Populating sideOfStreetHint in addition to location to avoid ending
            on the wrong side of the street
        course:
          value: 51.611571,11.351608;course=170;radius=20;minCourseDistance=500
          summary: Setting course/radius/minCourseDistance an uncertain GPS coordinate
            of a moving vehicle
        name:
          value: 52.510319,13.285616;nameHint=Kaiserdamm
          summary: Setting nameHint to avoid matching to the wrong location
    pedestrianSpeed:
      name: pedestrian[speed]
      description: |
        **Disclaimer: This parameter is currently in beta release, and is therefore subject to breaking changes.
        The parameter could be extracted to a separate API if speed capping for cars/trucks is introduced**
        Walking speed in meters per second. Influences the duration of walking segments along the route.
      in: query
      schema:
        "$ref": "#/components/schemas/PedestrianSpeed"
    rerouting:
      name: rerouting
      in: query
      required: false
      style: deepObject
      schema:
        "$ref": "#/components/schemas/Rerouting"
    return:
      name: return
      description: |
        Defines which attributes are included in the response as part of data representation of a
        `Route` or `Section`.

        * `polyline` - Polyline for the route in [Flexible Polyline](https://github.com/heremaps/flexible-polyline) Encoding.
          Either a 2D polyline (without `elevation` specified), or a 3D polyline with the 3rd dimension type `Elevation` (with `elevation` specified).
        * `actions` - Actions (such as maneuvers or tasks) that must be taken to complete the section.
        * `instructions` - Include instructions in returned actions. Instructions are localized to the requested language.
        * `summary` - Include summary for the section.
        * `travelSummary` - Include summary for the travel portion of the section.
        * `turnByTurnActions` - Include all information necessary to support turn by turn guidance to complete the section.
        * `mlDuration` - Use a region-specific machine learning model to calculate route duration. **Disclaimer: This parameter is currently in beta release, and is therefore subject to breaking changes.**
        * `elevation` - Include elevation information in coordinate and geometry types. See e.g. `polyline` or `location`.
        * `routeHandle` - Encode calculated route and return a handle which can be used with
          `routes/{routeHandle}` to decode the route at a later point in time.
        * `passthrough` - Include information on passthrough via waypoints in the section.
        * `incidents` - Include a list of all incidents applicable to each section.
                        Incidents are localized to the requested language.
        * `routingZones` - Include information about routing zones each section goes through.
        * `tolls` - Include a summary of the tolls to be paid during each section according to the `tolls` parameter in the query. **Alpha** some toll-related options such as cars with trailers, or vehicle fuel related tolls are planned but not implemented at the moment. Therefore the request will return the most "typical" toll cost.

        Following restrictions apply when specifying return parameter:

        * If `actions` is requested, then `polyline` must also be requested as well.
        * If `instructions` is requested, then `actions` must also be requested as well.
        * If `turnByTurnActions` is requested, then `polyline` must also be requested as well.
        * If at least one attribute is requested within the `spans` parameter, then `polyline` must be request as well
      in: query
      schema:
        type: array
        uniqueItems: true
        items:
          "$ref": "#/components/schemas/Return"
      style: form
      explode: false
    routeHandle:
      name: routeHandle
      in: path
      description: |
        Route handle returned from a previous route calculation.

        See `return` parameter of `/routes` endpoint for more information.
      required: true
      schema:
        type: string
    routeHandleOrigin:
      name: origin
      description: |
        A location defining the origin of the trip. The origin has to be located along the
        previously calculated route.

        ## Format

        Format: `Place[WaypointOptions]`

        * Place: `{lat},{lng}[PlaceOptions]`
        * PlaceOptions: `;option1=value1;option2=value2...`
        * WaypointOptions: `!option1=value1!option2=value2...`

        A waypoint consists of:

        * Exactly one place
        * Optional settings for the place
        * Optional settings for the waypoint itself

        Supported place options:

        * `course`: int, degrees clock-wise from north. Indicating desired direction at the place.
          E.g. `90` indicating `east`. Often combined with `radius` and/or `minCourseDistance`
        * `sideOfStreetHint`: `{lat},{lng}`. Indicating the side of the street that should be
          used. E.g. if the location is to the left of the street, the router will prefer using
          that side in case the street has dividers. E.g.
          `52.511496,13.304140;sideOfStreetHint=52.512149,13.304076` indicates that the `north`
          side of the street should be preferred. This option is required, if `matchSideOfStreet`
          is set to `always`.
        * `matchSideOfStreet`: enum `[always, onlyIfDivided]`. Specifies how the location set by
          `sideOfStreetHint` should be handled. Requires `sideOfStreetHint` to be specified as
          well.
          + `always` : Always prefer the given side of street.
          + `onlyIfDivided`: Only prefer using side of street set by `sideOfStreetHint` in case
            the street has dividers. This is the default behavior.
        * `nameHint`: string. Causes the router to look for the place with the most similar name.
          This can e.g. include things like: `North` being used to differentiate between
          interstates `I66 North` and `I66 South`, `Downtown Avenue` being used to correctly
          select a residental street.
        * `radius`: int, meters. Asks the router to consider all places within the given radius as
          potential candidates for route calculation. This can be either because it is not
          important which place is used, or because it is unknown. Radius more than 200meter are
          not supported.

        Notes:

        * `stopDuration` option is not supported for `origin`, contrary to `destination` and
          `via` waypoints.
        * `passThrough`: option is not supported for 'origin'.
        * Non-structural reserved characters in options' values need to be properly percent-encoded.
          Please refer to the developers' guide for more details.
        * `minCourseDistance`: While this parameter can be provided for compatibility reasons,
          it will not affect the result of a getRoutesByHandle request.
      in: query
      allowReserved: true
      required: false
      schema:
        "$ref": "#/components/schemas/Waypoint"
      examples:
        coordinate:
          value: 51.611571,11.351608
          summary: A simple WGS84 coordinate
        side:
          value: 52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always
          summary: Populating sideOfStreetHint in addition to location to avoid ending
            on the wrong side of the street
        course:
          value: 51.611571,11.351608;course=170;radius=20
          summary: Setting course/radius an uncertain GPS coordinate of a moving vehicle
        name:
          value: 52.510319,13.285616;nameHint=Kaiserdamm
          summary: Setting nameHint to avoid matching to the wrong location
    routingMode:
      name: routingMode
      description: |
        Specifies which optimization is applied during route calculation.

        * `fast`: Route calculation from start to destination optimized by travel time. In many
          cases, the route returned by the `fast` mode may not be the route with the fastest
          possible travel time. For example, the routing service may favor a route that remains on
          a highway, even if a faster travel time can be achieved by taking a detour or shortcut
          through an inconvenient side road.
        * `short`: Route calculation from start to destination disregarding any speed information.
          In this mode, the distance of the route is minimized, while keeping the route sensible.
          This includes, for example, penalizing turns. Because of that, the resulting route will
          not necessarily be the one with minimal distance.

        Notes:
        * The following Transport modes only support `fast` routingMode
          - `bicycle`
          - `bus`
          - `pedestrian`
          - `scooter`
          - `taxi`
      in: query
      required: false
      schema:
        "$ref": "#/components/schemas/RoutingMode"
    scooter:
      name: scooter
      description: |
        Scooter specific parameters.
          * `allowHighway`: Specifies whether scooter is allowed on highway or not. This parameter is optional.
            If not provided, then by default scooter is not allowed to use highway.
            There is a similar parameter avoid[features]=controlledAccessHighway to disallow highway usage.
            avoid[features] takes precedence so if this parameter is also used then scooters are not allowed
            to use highways even if `allowHighway` is used with value as true.
            Possible values:
              * `true`: scooter is allowed to use highway.
              * `false`: scooter is not allowed to use highway.
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        "$ref": "#/components/schemas/Scooter"
    spans:
      name: spans
      in: query
      required: false
      description: |
        Defines which attributes are included in the response spans. For example, `attributes,length`
        will enable the fields `attributes` and `length` in the route response.

        This parameter also requires that the `polyline` option is set within the `return` parameter.
      style: form
      explode: false
      schema:
        type: array
        uniqueItems: true
        items:
          "$ref": "#/components/schemas/Spans"
    transportMode:
      name: transportMode
      description: |
        Mode of transport to be used for the calculation of the route.

        Note:
        `taxi` and `bus` modes are in Alpha state. They are not yet stable and behaviour may change drastically, or even become unsupported, without warning.
        `taxi` and `bus` modes take into account taxi/bus restricted streets as well as streets reserved for exclusive taxi/bus access. It does not, however,
        consider exclusive lanes in otherwise shared streets. Also, the streets that are for exclusive access for taxi/bus are used only if either the origin
        or destination are on them.
      in: query
      required: true
      schema:
        "$ref": "#/components/schemas/RouterMode"
    truck:
      name: truck
      description: |
        Truck specific parameters.
          * `shippedHazardousGoods`:
            Comma-separated list of shipped hazardous goods in the vehicle.
            Possible values are:
            * `explosive`: Explosive material
            * `gas`: Gas
            * `flammable`: Flammable material
            * `combustible`: Combustible material
            * `organic`: Organic material
            * `poison`: Poison
            * `radioactive`: Radioactive material
            * `corrosive`: Corrosive material
            * `poisonousInhalation`: Materials that are poisonous upon inhalation
            * `harmfulToWater`: Materials that are harmful to water
            * `other`: Other types of hazardous materials
          * `grossWeight`: Vehicle weight including trailers and shipped goods, in kilograms.
          * `weightPerAxle`: Vehicle weight per axle, in kilograms.
          * `height`: Vehicle height, in centimeters.
          * `width`: Vehicle width, in centimeters.
          * `length`: Vehicle length, in centimeters.
          * `tunnelCategory`: Specifies the tunnel category used to restrict transport of specific goods.
            Possible values:
              * `B`
              * `C`
              * `D`
              * `E`
          * `axleCount`: Defines total number of axles in the vehicle.
          * `type`: Specifies the type of truck
              * `straight`: a truck on a single frame with a permanently attached cargo area
              * `tractor`: a towing vehicle that can pull one or more semi-trailers (aka semi-truck)
          * `trailerCount`: Number of trailers attached to the vehicle.
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        "$ref": "#/components/schemas/Truck"
    units:
      name: units
      description: 'Units of measurement used in guidance instructions. The default
        is `metric`.

'
      in: query
      required: false
      schema:
        "$ref": "#/components/schemas/Units"
    vehicle:
      name: vehicle
      in: query
      required: false
      style: deepObject
      schema:
        "$ref": "#/components/schemas/Vehicle"
    via:
      name: via
      description: |
        A location defining a via waypoint.

        A via waypoint is a location between origin and destination. The route will do a stop
        at the via waypoint.

        Multiple waypoints can also be specified using multiple via parameters like
        `via=...&via=...`, in which case the route will traverse these waypoints sequentially in
        the order specified in the request.

        ## Format

        Format: `Place[WaypointOptions]`

        * Place: `{lat},{lng}[PlaceOptions]`
        * PlaceOptions: `;option1=value1;option2=value2...`
        * WaypointOptions: `!option1=value1!option2=value2...`

        A waypoint consists of:

        * Exactly one place
        * Optional settings for the place
        * Optional settings for the waypoint itself

        Supported place options:

        * `course`: int, degrees clock-wise from north. Indicating desired direction at the place.
          E.g. `90` indicating `east`. Often combined with `radius` and/or `minCourseDistance`
        * `sideOfStreetHint`: `{lat},{lng}`. Indicating the side of the street that should be
          used. E.g. if the location is to the left of the street, the router will prefer using
          that side in case the street has dividers. E.g.
          `52.511496,13.304140;sideOfStreetHint=52.512149,13.304076` indicates that the `north`
          side of the street should be preferred. This option is required, if `matchSideOfStreet`
          is set to `always`.
        * `matchSideOfStreet`: enum `[always, onlyIfDivided]`. Specifies how the location set by
          `sideOfStreetHint` should be handled. Requires `sideOfStreetHint` to be specified as
          well.
          + `always` : Always prefer the given side of street.
          + `onlyIfDivided`: Only prefer using side of street set by `sideOfStreetHint` in case
            the street has dividers. This is the default behavior.
        * `nameHint`: string. Causes the router to look for the place with the most similar name.
          This can e.g. include things like: `North` being used to differentiate between
          interstates `I66 North` and `I66 South`, `Downtown Avenue` being used to correctly
          select a residental street.
        * `radius`: int, meters. Asks the router to consider all places within the given radius as
          potential candidates for route calculation. This can be either because it is not
          important which place is used, or because it is unknown. Radius more than 200meter are
          not supported.
        * `minCourseDistance`: int, meters. Asks the routing service to try find a route that avoids actions for
          the indicated distance. E.g. if the origin is determined by a moving vehicle, the user
          might not have time to react to early actions.

        Supported waypoint options:
        * `stopDuration`: desired duration for the stop, in seconds.
        * `passThrough`: boolean. Asks the router to avoid the following during route calculation:
          + Introducing a stop at the waypoint.
          + Splitting the route into sections.
          + Changing the direction of travel.

          Following scenarios are not supported for `passThrough` parameter:
          + Setting both `stopDuration` to a value greater than 0 and `passThrough=true`.
          + Setting `passThrough=true` for `origin` or `destination` of a route.
          The default value is `false`.

        Notes:

        * Non-structural reserved characters in options' values need to be properly percent-encoded.
          Please refer to the developers' guide for more details.
      in: query
      allowReserved: true
      style: form
      explode: true
      required: false
      schema:
        type: array
        items:
          "$ref": "#/components/schemas/Waypoint"
      examples:
        coordinate:
          value: 51.611571,11.351608
          summary: A simple WGS84 coordinate
        side:
          value: 52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always
          summary: Populating sideOfStreetHint in addition to location to avoid ending
            on the wrong side of the street
        course:
          value: 51.611571,11.351608;course=170;radius=20;minCourseDistance=500
          summary: Setting course/radius/minCourseDistance an uncertain GPS coordinate
            of a moving vehicle
        name:
          value: 52.510319,13.285616;nameHint=Kaiserdamm
          summary: Setting nameHint to avoid matching to the wrong location
        duration:
          value: 51.611571,11.351608!stopDuration=600
          summary: Addition a stopDuration for an intermediate stop
        pass-through:
          value: 51.611571,11.351608!passThrough=true
          summary: Setting pass-through parameter to avoid possibly making a u-turn
            for a stop
    xRequestId:
      name: X-Request-ID
      in: header
      description: User-provided token that can be used to trace a request or a group
        of requests sent to the service.
      schema:
        type: string
  headers:
    X-Correlation-Id:
      description: Auto-generated id that univocally identifies the request.
      schema:
        type: string
      example: 4199533b-6290-41db-8d79-edf4f4019a74
    X-Request-Id:
      description: User-provided token that can be used to trace a request or a group
        of requests sent to the service.
      schema:
        type: string
      example: 8230d7ad-3f1c-4191-a8dd-f3c42026da89
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: 'API key used to authorize requests. For more information, see
        https://developer.here.com/documentation/identity-access-management/dev_guide/index.html

'
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        A client access token needs to be obtained from a separate endpoint using the client credentials and an OAuth 1.0a HMAC-SHA256 signed request.
        For more information, see https://developer.here.com/documentation/identity-access-management/dev_guide/index.html
  schemas:
    AccessAttributes:
      description: "Extensible enum: `open` `noThrough` `tollRoad` `...`  \n`AccessAttributes`
        is applied to a span of a route section and describes access flags of a street.\n\n*
        `open`: Describes whether this part of the route can be traversed.\n* `noThrough`:
        A part of the route you can only enter if your destination is located there.\n*
        `tollRoad`: Access to this part of the route is restricted with a fee (or
        toll).\n\nAs it is possible that new access attributes are supported in the
        future, unknown access attributes should be ignored.\n"
      type: string
      x-extensible-enum:
      - open
      - noThrough
      - tollRoad
    AttributionLinkType:
      description: |
        Attribution link type.

        * `disclaimer` - Page with further legal information from the agency.
        * `tariff` - Page with information on the tariff.
      type: string
      required:
      - type
      enum:
      - disclaimer
      - tariff
    AuthErrorResponseSchema:
      properties:
        error:
          type: string
          description: Human-readable error
        error_description:
          type: string
          description: Human-readable error description
    Avoid:
      type: object
      properties:
        features:
          description: |
            A comma separated list of features that routes will avoid.

            * `seasonalClosure`
            * `tollRoad`
            * `controlledAccessHighway`
            * `ferry`
            * `carShuttleTrain`
            * `tunnel`
            * `dirtRoad`
            * `difficultTurns`
          type: string
        areas:
          description: |
            A pipe separated list of user defined areas that routes will avoid to go through.

            Format: `{shape1}|{shape2}|{shape3}...`

            Supported shape format:
            * Bounding box - A rectangular area on earth defined by a comma separated list of two latitude and two longitude values.
              - Format: `bbox:{west},{south},{east},{north}`
                + `{west}`  - Longitude value of the westernmost point of the area.
                + `{south}` - Latitude value of the southernmost point of the area.
                + `{east}`  - Longitude value of the easternmost point of the area.
                + `{north}` - Latitude value of the northernmost point of the area.
              - Example: `bbox:13.082,52.416,13.628,52.626` - Bounding box of Berlin
          type: string
        segments:
          description: |
            A comma separated list of segment identifiers that routes will avoid going through.

            Each entry has the following structure:
            `{segmentId}(#{direction})?`

            The individual parts are:
            * segmentId: The identifier of the referenced topology segment inside the catalog, example: `here:cm:segment:207551710`
            * direction (optional): Either '*' for bidirectional (default), '+' for positive direction, or '-' for negative direction

            Example of a parameter value excluding two segments:
            `here:cm:segment:207551710#+,here:cm:segment:76771992#*`
          type: string
        zoneCategories:
          description: |
            Specifies a list of categories of zones which routes will avoid going through.

            Format: `Categories[ZoneCategoryOptions]`

            * Categories: `{cat1},{cat2}...`
              A comma separated list of zone categories.
            * ZoneCategoriesOptions (optional): `;option1=value1;options2=value2...`
              A list of options for zone categories in `KEY=VALUE` form.

            Supported zone category options:
              * exceptZoneIds: A comma-separated list of zone identifiers, which will not be taken into account for evaluation of zone categories to avoid.

            Supported zone categories:
              * `vignette`
              * `congestionPricing`
              * `environmental`

            Example of zone categories avoidance:
            `avoid[zoneCategories]=environmental,vignette`

            Example of zone categories avoidance with exceptions:
            `avoid[zoneCategories]=environmental,vignette;exceptZoneIds=here:cm:envzone:3`
          type: string
        zoneIdentifiers:
          description: |
            A comma separated list containing identifiers of zones that routes will avoid going through.

            Example of an identifier referencing an environmental zone:
            `here:cm:envzone:2`
          type: string
        tollTransponders:
          description: |
            Indicates that routes will avoid all toll transponders.

            Example: `avoid[tollTransponders]=all`
          type: string
    AvoidPost:
      type: object
      properties:
        segments:
          description: |
            An array of segment identifiers that routes will avoid going through.

            Each entry has the following structure:
            `{segmentId}(#{direction})?`

            The individual parts are:
            * segmentId: The identifier of the referenced topology segment inside the catalog, example: `here:cm:segment:207551710`
            * direction (optional): Either '*' for bidirectional (default), '+' for positive direction, or '-' for negative direction

            Example of a parameter value excluding two segments:
            ["here:cm:segment:207551710#+", "here:cm:segment:76771992#*"]
          type: array
          items:
            type: string
    BaseNoticeDetail:
      properties:
        title:
          type: string
          description: Detail title
        cause:
          type: string
          description: Cause of the notice
        type:
          type: string
          description: |
            Detail type. Each type of detail might contain extra attributes.

            **NOTE:** The list of possible detail types may be extended in the future.
            The client application is expected to handle such a case gracefully.
      required:
      - type
    ChargingConnectorType:
      description: "Extensible enum: `iec62196Type1Combo` `iec62196Type2Combo` `chademo`
        `tesla` `...`  \nCurrently supported connector types are:\n* `iec62196Type1Combo`:
        \ Type 1 Combo connector, commonly called \"SAE J1772\"\n* `iec62196Type2Combo`:
        \ Type 2 Combo connector, commonly called \"Mennekes\"\n* `chademo`: CHAdeMO
        connector\n* `tesla`: Tesla connector\n"
      type: string
      x-extensible-enum:
      - iec62196Type1Combo
      - iec62196Type2Combo
      - chademo
      - tesla
    ChargingStationBrand:
      description: Information regarding the charging station brand
      properties:
        name:
          description: Charging station brand name
          type: string
    ChargingSupplyType:
      description: "Extensible enum: `acSingle` `acThree` `dc` `...`  \nCurrently
        possible values are:\n\n* `acSingle` : Single phase Alternating Current supply\n*
        `acThree`: Three phase Alternating Current supply\n* `dc`: Direct Current
        supply\n"
      type: string
      x-extensible-enum:
      - acSingle
      - acThree
      - dc
    Color:
      type: string
      pattern: "#[0-9A-Fa-f]{6}"
      example: "#FF0000"
    ConsumptionSpeedTable:
      type: string
      description: |
        Function curve specifying consumption rate at a given speed.

        The format of the string is a comma-separated list of numbers, as follows:

        ```
        <SPEED_0>,<CONSUMPTION_0>,<SPEED_1>,<CONSUMPTION_1>,...,<SPEED_N>,<CONSUMPTION_N>
        ```

        where speed values are strictly increasing, non-negative integers in units of (km/h), and
        consumption values are non-negative floating point values in units of (Wh/m).

        The function is linearly interpolated between data points. For speeds less than `SPEED_0`
        the value of the function is `CONSUMPTION_0`, and for speeds greater than `SPEED_N` the
        value of the function is `CONSUMPTION_N`.
      example: 0,0.2394,14,0.2394,36,0.2586,52,0.196,68,0.2074,83,0.238,95,0.2597,105,0.2597,115,0.2964,125,0.3367,135,0.3508
    CountryCode:
      description: ISO-3166-1 alpha-3 code
      type: string
      example: FRA
    DataVersion:
      description: Version of a specific data set
      properties:
        name:
          type: string
          description: Identifies a data set, for example, a HRN, or a service specific
            identifier
        version:
          type: string
          description: The current version of this data set
      required:
      - name
      - version
    DepartureDelay:
      description: The accumulated delay in seconds from the scheduled time of the
        event.
      type: integer
    DepartureStatus:
      description: "Extensible enum: `scheduled` `cancelled` `additional` `replaced`
        `...`  \nStatus of the departure\n\n* `scheduled`: A trip that is running
        as planned in the schedule.\n* `cancelled`: A trip that existed in the schedule
        but was removed.\n* `additional`: An extra trip that was added in addition
        to a running schedule, for example, to respond to sudden passenger load.\n*
        `replaced`: A trip that was in the schedule but is removed and replaced with
        `additional` trip, for example, to replace a broken vehicle or handle detour.\n"
      type: string
      x-extensible-enum:
      - scheduled
      - cancelled
      - additional
      - replaced
      default: scheduled
    Distance:
      type: integer
      minimum: 0
      description: Distance in meters.
    Duration:
      type: integer
      description: Duration in seconds.
    Energy:
      type: number
      description: Energy in kilowatt hours (kWh).
    ErrorResponse:
      description: Response in case of error
      properties:
        title:
          type: string
          description: Human-readable error description
          example: Input data failed validation
        status:
          type: integer
          description: HTTP status code
          example: 400
        code:
          type: string
          description: |
            Error code.

            All error codes start with "`E60`".
          example: E600101
        cause:
          type: string
          description: Human-readable explanation for the error
          example: The input data in question does not comply with validation rules
        action:
          type: string
          description: Human-readable description of the action that can be taken
            to correct the error
          example: Request a valid id
        correlationId:
          type: string
          description: Auto-generated id that univocally identifies the request
          example: 4199533b-6290-41db-8d79-edf4f4019a74
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
    Exclude:
      type: object
      description: Options to exclude strictly during the route calculation.
      properties:
        countries:
          description: |
            A comma separated list of three-letter country codes (ISO-3166-1 alpha-3 code) that
            routes will exclude.
          type: string
    FareReason:
      description: "Extensible enum: `ride` `parking` `...`  \nReason for the cost
        described in this `Fare` element.\n"
      type: string
      x-extensible-enum:
      - ride
      - parking
    FunctionalClass:
      description: |
        Functional class is used to classify roads depending on the speed, importance and
        connectivity of the road.

        * `1`: Roads allow for high volume, maximum speed traffic movement between and through major
          metropolitan areas.
        * `2`: Roads are used to channel traffic to functional class 1 roads for travel between and
          through cities in the shortest amount of time.
        * `3`: Roads that intersect functional class 2 roads and provide a high volume of traffic
          movement at a lower level of mobility than functional class 2 roads.
        * `4`: Roads that provide for a high volume of traffic movement at moderate speeds between
          neighbourhoods.
        * `5`: Roads with volume and traffic movement below the level of any other functional class.
      type: integer
      format: int32
      minimum: 1
      maximum: 5
    HazardousGoodsRestriction:
      description: "Extensible enum: `explosive` `gas` `flammable` `combustible` `organic`
        `poison` `radioactive` `corrosive` `poisonousInhalation` `harmfulToWater`
        `other` `any` `...`  \nHazardous goods restriction applied during the trip.\n\n*
        `explosive`: Explosive material\n* `gas`: Gas\n* `flammable`: Flammable material\n*
        `combustible`: Combustible material\n* `organic`: Organic material\n* `poison`:
        Poison\n* `radioactive`: Radioactive material\n* `corrosive`: Corrosive material\n*
        `poisonousInhalation`: Materials that are poisonous upon inhalation\n* `harmfulToWater`:
        Materials that are harmful to water\n* `other`: Other types of hazardous materials\n*
        `any`: Any of the above types\n"
      type: string
      x-extensible-enum:
      - explosive
      - gas
      - flammable
      - combustible
      - organic
      - poison
      - radioactive
      - corrosive
      - poisonousInhalation
      - harmfulToWater
      - other
      - any
    LineString:
      description: GeoJSON encoding of type 'LineString'
      type: object
      properties:
        type:
          type: string
        coordinates:
          type: array
          items:
            type: array
            minItems: 2
            items:
              type: number
              format: double
      required:
      - coordinates
      example:
        value:
          type: LineString
          coordinates:
          - - 52.0
            - 13.0
          - - 52.01
            - 13.01
    LocalizedString:
      description: String with optional language code.
      properties:
        value:
          description: String written in the language specified in the language property.
          type: string
        language:
          description: Language in BCP47 format
          type: string
      required:
      - value
      example:
        value: Invalidenstraße
        language: de
    Location:
      description: Location on the Earth
      properties:
        lat:
          description: Location of a point on the Earth north or south of the equator
            in decimal degrees.
          type: number
          format: double
          example: 52.531677
        lng:
          description: Location of a place on the Earth east or west of the prime
            meridian in decimal degrees.
          type: number
          format: double
          example: 13.381777
        elv:
          description: The elevation of a point above mean sea level in meters.
          type: number
          example: 512.5
      example:
        lat: 52.531677
        lng: 13.381777
      required:
      - lat
      - lng
    MaxSpeed:
      description: Speed in meters per second, or "unlimited" indicating that the
        speed is unlimited, e.g., on a German autobahn
      oneOf:
      - type: number
        minimum: 0
      - type: string
        enum:
        - unlimited
    NoticeSeverity:
      description: |
        Describes the impact a notice has on the resource to which the notice is attached.
        * critical - The notice must not be ignored, even if the type of notice is not known to the user. Any associated resource (e.g., route section) must not be used without further evaluation.
        * info - The notice is for informative purposes, but does not affect usability of the route.
      type: string
      enum:
      - critical
      - info
    ParkingLotPlaceType:
      type: string
      x-extensible-enum:
      - parkAndRide
      description: 'Extensible enum: `parkAndRide` `...`'
    PartialTime:
      type: string
      description: "**RFC 3339**, section 5.6 as defined by `partial-time`."
      pattern: "^[012]\\d:[0-5]\\d:[0-6]\\d(\\.\\d+)?$"
    PaymentMethod:
      description: "Extensible enum: `cash` `bankCard` `creditCard` `passSubscription`
        `transponder` `videoToll` `cashExact` `travelCard` `...`  \nRecognized methods
        of payment.\n"
      type: string
      x-extensible-enum:
      - cash
      - bankCard
      - creditCard
      - passSubscription
      - transponder
      - videoToll
      - cashExact
      - travelCard
    PedestrianSpeed:
      description: Pedestrian speed in meters per second
      type: number
      minimum: 0.5
      maximum: 2
      default: 1
    Polyline:
      type: string
      description: Line string in [Flexible Polyline](https://github.com/heremaps/flexible-polyline)
        format.
      example: A05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e
    Rerouting:
      description: |
        Rerouting parameters allow to request a new route calculation based on the route handle.

        All attributes are optional.
      allOf:
      - properties:
          mode:
            description: |
              Defines what kind of additional route calculation should be done.

              * `none` - Cuts of route before the current position. Updates dynamic attributes of the route after the current position. Will fail if current position is outside of the route. This is the default behavior.
              * `returnToRoute` - Same as `none` if current position is on the route. If the current position is not on the original route then a new route to the destination from the current position will be calculated. The new route will try to preserve the shape of the original route if possible. If a new optimal route will be found before the route to the original route then a new route will be returned.
            type: string
            enum:
            - none
            - returnToRoute
    Return:
      description: |
        Defines which attributes are included in the response as part of data representation of a
        `Route` or `Section`.

        * `polyline` - Polyline for the route in [Flexible Polyline](https://github.com/heremaps/flexible-polyline) Encoding.
          Either a 2D polyline (without `elevation` specified), or a 3D polyline with the 3rd dimension type `Elevation` (with `elevation` specified).
        * `actions` - Actions (such as maneuvers or tasks) that must be taken to complete the section.
        * `instructions` - Include instructions in returned actions. Instructions are localized to the requested language.
        * `summary` - Include summary for the section.
        * `travelSummary` - Include summary for the travel portion of the section.
        * `turnByTurnActions` - Include all information necessary to support turn by turn guidance to complete the section.
        * `mlDuration` - Use a region-specific machine learning model to calculate route duration. **Disclaimer: This parameter is currently in beta release, and is therefore subject to breaking changes.**
        * `elevation` - Include elevation information in coordinate and geometry types. See e.g. `polyline` or `location`.
        * `routeHandle` - Encode calculated route and return a handle which can be used with
          `routes/{routeHandle}` to decode the route at a later point in time.
        * `passthrough` - Include information on passthrough via waypoints in the section.
        * `incidents` - Include a list of all incidents applicable to each section.
                        Incidents are localized to the requested language.
        * `routingZones` - Include information about routing zones each section is going through.
        * `tolls` - Include a summary of the tolls to be paid during the route according to the `tolls` parameter in the query.

        The following restrictions apply when specifying the `return` parameter:

        * If `actions` is requested, then `polyline` must also be requested as well.
        * If `instructions` is requested, then `actions` must also be requested as well.
        * If `turnByTurnActions` is requested, then `polyline` must also be requested as well.
        * If at least one attribute is requested within the `spans` parameter, then `polyline` must be request as well
      type: string
      enum:
      - polyline
      - actions
      - instructions
      - summary
      - travelSummary
      - mlDuration
      - turnByTurnActions
      - elevation
      - routeHandle
      - passthrough
      - incidents
      - routingZones
      - tolls
    RoadInfoType:
      description: Type of the road (rural, urban, highway)
      type: string
      enum:
      - rural
      - urban
      - highway
      default: urban
    RouterMode:
      description: Mode of transport to be used for route calculation.
      type: string
      enum:
      - car
      - truck
      - pedestrian
      - bicycle
      - scooter
      - taxi
      - bus
    RoutingMode:
      description: |
        Specifies which optimization is applied during route calculation.

        * `fast`: Route calculation from start to destination optimized by travel time. In many
          cases, the route returned by the `fast` mode may not be the route with the fastest
          possible travel time. For example, the routing service may favor a route that remains on
          a highway, even if a faster travel time can be achieved by taking a detour or shortcut
          through an inconvenient side road.
        * `short`: Route calculation from start to destination disregarding any speed information.
          In this mode, the distance of the route is minimized, while keeping the route sensible.
          This includes, for example, penalizing turns. Because of that, the resulting route will
          not necessarily be the one with minimal distance.

        Notes:
        * The following Transport modes only support `fast` routingMode
          - `bicycle`
          - `bus`
          - `pedestrian`
          - `scooter`
          - `taxi`
      type: string
      enum:
      - fast
      - short
      default: fast
    RoutingZone:
      description: Information about a routing zone.
      properties:
        ref:
          description: |
            A reference to a routing zone in HMC.

            The standard representation of a routing zone reference has the following structure:
            `{catalogHrn}:{catalogVersion}:({layerId})?:{tileId}:{zoneId}`

            The individual parts are:
            * `catalogHrn`: The HERE Resource Name that identifies the source catalog of the routing zone, example: `hrn:here:data::olp-here:rib-2`
            * `catalogVersion`: The catalog version
            * `layerId` (optional): The layer inside the catalog where the routing zone is located, example: `environmental-zones`
            * `tileId`: The HERE tile key of the partition/tile where the routing zone is located in the given version of the catalog
            * `zoneId`: The identifier of the referenced routing zone within the catalog, example: `here:cm:envzone:3455277`

            Example of a reference to an environmental zone in standard form:
            `hrn:here:data::olp-here:rib-2:1557:environmental-zones:all:here:cm:envzone:3455277`

            In order to reduce reponse size, routing zone references can also be provided in a compact representation.
            In compact form, parts of a reference are replaced by placeholders, which can be resolved using the `refReplacements` dictionary in the parent section.
            The placeholder format is `\$\d+` and needs to be surrounded by columns or string start/end. It can be captured with the following regular expression: `(^|:)\$\d+(:|$)`

            Example of the aforementioned environmental zone reference in compact form: `$0:$1:3455277`
            With the corresponding `refReplacements`:
            ```
            "refReplacements": {
              "0": "hrn:here:data::olp-here:rib-2:1557",
              "1": "environmental-zones:all:here:cm:envzone"
            }
            ```
          type: string
        type:
          description: "Extensible enum: `environmental` `vignette` `...`  \nThe type
            of a routing zone.\n"
          type: string
          x-extensible-enum:
          - environmental
          - vignette
        name:
          description: The routing zone's name.
          type: string
    Scooter:
      type: object
      description: Scooter specific parameters
      properties:
        allowHighway:
          description: Specifies whether scooter is allowed on highway or not. This
            parameter is optional. If not provided, then by default scooter is not
            allowed to use highway. There is a similar parameter avoid[features]=controlledAccessHighway
            to disallow highway usage. avoid[features] takes precedence so if this
            parameter is also used then scooters are not allowed to use highways even
            if `allowHighway` is used with value as true.
          type: boolean
          default: false
    Spans:
      type: string
      enum:
      - walkAttributes
      - streetAttributes
      - carAttributes
      - truckAttributes
      - scooterAttributes
      - names
      - length
      - duration
      - baseDuration
      - countryCode
      - functionalClass
      - routeNumbers
      - speedLimit
      - maxSpeed
      - dynamicSpeedInfo
      - segmentId
      - segmentRef
      - consumption
      - routingZones
      - notices
      - incidents
    Speed:
      description: Speed in meters per second
      type: number
      minimum: 0
    StreetAttributes:
      description: "Extensible enum: `rightDrivingSide` `dirtRoad` `tunnel` `bridge`
        `ramp` `controlledAccess` `roundabout` `underConstruction` `dividedRoad` `privateRoad`
        `...`  \n`StreetAttributes` is applied to a span of a route section and describes
        attribute flags of a street.\n* `rightDrivingSide`: Do vehicles have to drive
        on the right-hand side of the road or the left-hand side.\n* `dirtRoad`: This
        part of the route has an un-paved surface.\n* `tunnel`: This part of the route
        is a tunnel.\n* `bridge`: This part of the route is a bridge.\n* `ramp`: This
        part of the route is a ramp (usually connecting to/from/between highways).\n*
        `motorway`: This part of the route is a controlled access road (usually highways).\n*
        `roundabout`: This part of the route is a roundabout.\n* `underConstruction`:
        This part of the route is under construction.\n* `dividedRoad`: This part
        of the route uses a road with a physical or legal divider in the middle.\n*
        `privateRoad`: This part of the route uses a privately owned road.\n\nAs it
        is possible that new street attributes are supported in the future, unknown
        street attributes should be ignored.\n"
      type: string
      x-extensible-enum:
      - rightDrivingSide
      - dirtRoad
      - tunnel
      - bridge
      - ramp
      - controlledAccess
      - roundabout
      - underConstruction
      - dividedRoad
      - privateRoad
    Time:
      type: string
      description: "**RFC 3339**, section 5.6 as defined by either `date-time` or
        `date-only` 'T' `partial-time` (ie no time-offset)."
      format: date-time
    TimeRestrictedWeekdays:
      type: string
      enum:
      - mo
      - tu
      - we
      - th
      - fr
      - sa
      - su
    TimeWithAny:
      type: string
      description: |
        Specifies the time either as

        * "**RFC 3339**, section 5.6 as defined by either `date-time` or `date-only` 'T'
        `partial-time` (ie no time-offset)", or
        * the special value `any` which stand for unspecified time
    TrafficIncidentCriticality:
      description: |
        Describes the impact an incident has on the route.
        * critical - The part of the route the incident affects is not usable.
        * major - Major impact on duration, e.g. stop and go
        * minor - Minor impact on duration, e.g. traffic jam
        * low - Very little impact on duration, e.g. slightly increased traffic
      type: string
      enum:
      - critical
      - major
      - minor
      - low
    TrafficIncidentType:
      description: "Extensible enum: `accident` `congestion` `construction` `disabledVehicle`
        `massTransit` `plannedEvent` `roadHazard` `roadClosure` `weather` `laneRestriction`
        `other` `...`  \nAn open list of possible incident causes / types.\nNote:
        Since new types are expected to appear, it is important to check for unknown
        types when parsing this value.\n"
      type: string
      x-extensible-enum:
      - accident
      - congestion
      - construction
      - disabledVehicle
      - massTransit
      - plannedEvent
      - roadHazard
      - roadClosure
      - weather
      - laneRestriction
      - other
    TrailerCountRange:
      description: Constrains the restriction to vehicles with number of trailers
        within specified range.
      properties:
        from:
          description: Inclusive minimum of trailer count.
          type: integer
          format: int32
          minimum: 0
        to:
          description: Inclusive maximum of trailer count. If not set, maximum trailer
            count is unbounded.
          type: integer
          format: int32
          minimum: 0
    TransitIncidentEffect:
      description: "Extensible enum: `cancelledService` `reducedService` `additionalService`
        `modifiedService` `delays` `detour` `stopMoved` `other` `...`  \nAn open list
        of possible incident effects.\nNote: Since new types are expected to appear,
        it is important to check for unknown types when parsing this value.\n"
      type: string
      x-extensible-enum:
      - cancelledService
      - reducedService
      - additionalService
      - modifiedService
      - delays
      - detour
      - stopMoved
      - other
    TransitIncidentType:
      description: "Extensible enum: `technicalProblem` `strike` `demonstration` `accident`
        `holiday` `weather` `maintenance` `construction` `policeActivity` `medicalEmergency`
        `other` `...`  \nAn open list of possible incident causes / types.\nNote:
        Since new types are expected to appear, it is important to check for unknown
        types when parsing this value.\n"
      type: string
      x-extensible-enum:
      - technicalProblem
      - strike
      - demonstration
      - accident
      - holiday
      - weather
      - maintenance
      - construction
      - policeActivity
      - medicalEmergency
      - other
    TruckAxleCountRange:
      description: Constrains the restriction to trucks with number of axles within
        specified range.
      properties:
        from:
          description: Inclusive minimum of axle count.
          type: integer
          format: int32
          minimum: 2
        to:
          description: Inclusive maximum of axle count. If not set, maximum axle count
            is unbounded.
          type: integer
          format: int32
          minimum: 2
    TruckType:
      description: |
        Specifies the type of truck

        * `straight`: a truck on a single frame with a permanently attached cargo area
        * `tractor`: a towing vehicle that can pull one or more semi-trailers (aka semi-truck)
      type: string
      enum:
      - straight
      - tractor
    TunnelCategory:
      description: 'Specifies the tunnel category used to restrict transport of specific
        goods.

'
      type: string
      enum:
      - B
      - C
      - D
      - E
    TurnActionDirection:
      description: Direction of the turn. `middle` is only used by the `keep` action.
      type: string
      enum:
      - middle
      - right
      - left
    TurnActionSeverity:
      description: |
        Tightness of the turn. Optional in the `turn` action, unused by other actions.

        * `light`: indicates making a light turn
        * `quite`: indicates making a regular turn
        * `heavy`: indicates making a heavy turn
      type: string
      enum:
      - light
      - quite
      - heavy
    Units:
      description: Units of measurement used, for example, in guidance instructions.
        The default is `metric`.
      type: string
      enum:
      - metric
      - imperial
    Uri:
      description: An URL address that links to a particular resource.
      type: string
      format: uri
    Vehicle:
      type: object
      description: |
        **Disclaimer: these parameters are work in progress and functionality is not complete**

        Additional generic details about the vehicle for which the route is calculated.
        Currently, `hovOccupancy` and `speedCap` are serviced with limited functionality
      properties:
        hovOccupancy:
          description: |
            Number of occupants (defined as occupying a restraint device) in the vehicle.
            This value affects the ability of the router to use HOV (High-Occupancy Vehicles) restricted lanes.

            Limitations:
              * only valid for `transportMode=car`.
              * currently, any value over 1 is interpreted as being able to use any HOV lane (including, e.g. those restricted to 3+ passengers).
          type: integer
          minimum: 1
          default: 1
        speedCap:
          description: "Specifies the maximum speed, in m/s, which the user wishes
            not to exceed.\nThis parameter affects route ETA and consumption calculation.
            \n\nLimitations:\n  * valid for following transport modes: `car`, `truck`
            and `scooter`\n\nNotes:\n  * Car and Truck mode updates route ETA.\n  *
            Scooter mode updates route optimization and ETA.  \n"
          type: number
          minimum: 1.0
          maximum: 70.0
    WalkAttributes:
      description: "Extensible enum: `stairs` `park` `indoor` `open` `noThrough` `tollRoad`
        `...`  \nWalkAttributes are applied to a span of a route section and describe
        walk-related attribute\nflags.\n\n* `stairs`: This part of the route is using
        stairs.\n* `park`: This part of the route is located inside a park.\n* `indoor`:
        This part of the route is located inside a venue.\n* `open`: This part of
        the route is open to walking.\n* `noThrough`: This part of the route can only
        be entered if the destination is located there.\n* `tollRoad`: This part of
        the route is restricted with a fee (or toll).\n"
      type: string
      x-extensible-enum:
      - stairs
      - park
      - indoor
      - open
      - noThrough
      - tollRoad
    Waypoint:
      description: |
        A location defining an origin, destination or via point for a route or an isoline.

        Format: `Place[WaypointOptions]`

        * Place: `{lat},{lng}[PlaceOptions]`
        * PlaceOptions: `;option1=value1;option2=value2...`
        * WaypointOptions: `!option1=value1!option2=value2...`

        A waypoint consists of:
        * Exactly one place
        * Optional settings for the place
        * Optional settings for the waypoint itself

        Supported place options:
        * `course`: int, degrees clock-wise from north. Indicates the desired direction from the place. For example, `90` indicating `east`. Often combined with `radius` and/or `minCourseDistance`. This parameter takes preference over `matchSideOfStreet`.
        * `sideOfStreetHint`: `{lat},{lng}`. Indicates the side of the street that should be used. For example, if the location is to the left of the street, the router will prefer using that side in case the street has dividers. For example, `52.511496,13.304140;sideOfStreetHint=52.512149,13.304076` indicates that the `north` side of the street should be preferred. This options is required, if `matchSideOfStreet` is set to `always`.
        * `matchSideOfStreet`: enum `[always, onlyIfDivided]`. Specifies how the location set by `sideOfStreetHint` should be handled. Requires `sideOfStreetHint` to be specified as well. Note the exception above when combined with `course`.
          + `always` : Always prefer the given side of street.
          + `onlyIfDivided`: Only prefer using side of street set by `sideOfStreetHint` in case the street has dividers. This is the default behavior.
        * `nameHint`: string. Causes the router to look for the place with the most similar name. The typical examples include: `North` being used to differentiate between interstates `I66 North` and `I66 South`, `Downtown Avenue` being used to correctly select a residental street.
        * `radius`: int, meters. Instructs the router to consider all places within the given radius as potential candidates for route calculation. This can be either because it is not important which place is used, or because it is unknown. Radiuses wider than 200 meters are not supported.
        * `minCourseDistance`: int, meters. Instructs the routing service to try to find a route that avoids actions for the indicated distance. For example, if the origin is determined by a moving vehicle, the user might not have time to react to early actions.

        Supported waypoint options:
        * `stopDuration`: desired duration for the stop, in seconds.
        * `passThrough`: boolean. Asks the router to avoid the following during route calculation:
          + Introducing a stop at the waypoint.
          + Splitting the route into sections.
          + Changing the direction of travel.

        Following scenarios is not supported for `passThrough` parameter:
          + Setting both `stopDuration` to a value greater than 0 and `passThrough=true`.
          + Setting `passThrough=true` for `origin` or `destination` of a route.
          The default value is `false`.
      type: string
    Agency:
      description: Contains information about a particular agency.
      properties:
        id:
          description: Unique code of the agency. Specifies if the same agency is
            used on different sections of the same route.
          type: string
        name:
          description: Human readable name of the owner of the transport service.
          type: string
        website:
          description: Link to the agency's website.
          allOf:
          - "$ref": "#/components/schemas/Uri"
        icon:
          description: Agency icon url
          allOf:
          - "$ref": "#/components/schemas/Uri"
      required:
      - id
      - name
    BaseAction:
      description: An action to be performed between sections or during a section.
      properties:
        action:
          description: |
            The type of the action.

            **NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.
          type: string
        duration:
          description: Estimated duration of this action (in seconds). Actions last
            until the next action, or the end of the route in case of the last one.
          allOf:
          - "$ref": "#/components/schemas/Duration"
        instruction:
          description: Description of the action (e.g. Turn left onto Minna St.).
          type: string
      required:
      - action
      - duration
    BasePlace:
      properties:
        name:
          description: Location name
          type: string
        waypoint:
          description: If present, this place corresponds to the waypoint in the request
            with the same index.
          type: integer
        type:
          description: |
            Place type. Each place type can have extra attributes.

            **NOTE:** The list of possible place types could be extended in the future.
            The client application is expected to handle such a case gracefully.
          type: string
        location:
          description: |
            The position of this location

            This position was used in route calculation. It may be different to the original position provided in the request.
          allOf:
          - "$ref": "#/components/schemas/Location"
        originalLocation:
          description: If present, the original position of this location provided
            in the request.
          allOf:
          - "$ref": "#/components/schemas/Location"
      required:
      - type
      - location
    BaseSummary:
      description: Total value of key attributes for a route section.
      properties:
        duration:
          "$ref": "#/components/schemas/Duration"
        length:
          "$ref": "#/components/schemas/Distance"
      required:
      - duration
      - length
    CalculateRoutesParameters:
      description: Parameters for route calculation
      type: object
      properties:
        avoid:
          "$ref": "#/components/schemas/AvoidPost"
      example:
        "$ref": "#/components/examples/calculateRoutesParametersExample"
    ChargingConnectorAttributes:
      description: Details of the connector that is suggested to be used in the section's
        `postAction` for charging.
      properties:
        power:
          description: Power supplied by the suggested connector in kW.
          type: number
        current:
          description: Current of the suggested connector in Amperes.
          type: number
        voltage:
          description: Voltage of the suggested connector in Volts.
          type: number
        supplyType:
          description: 'Supply type of the suggested connector.

'
          allOf:
          - "$ref": "#/components/schemas/ChargingSupplyType"
        connectorType:
          description: Suggested connector for charging at this station
          allOf:
          - "$ref": "#/components/schemas/ChargingConnectorType"
      required:
      - power
      - supplyType
      - connectorType
    DynamicSpeedInfo:
      description: 'Describes dynamic speed information, such as traffic speed, estimated
        speed without traffic, and turn time.

'
      properties:
        trafficSpeed:
          description: 'Traffic-enabled speed, which is the estimated speed considering
            traffic-relevant constraints.

'
          allOf:
          - "$ref": "#/components/schemas/Speed"
        baseSpeed:
          description: Estimated speed without considering any traffic-related constraints.
          allOf:
          - "$ref": "#/components/schemas/Speed"
        turnTime:
          description: 'Turn time estimate considering traffic and transport mode
            needed for turning from this segment into the next.

'
          allOf:
          - "$ref": "#/components/schemas/Duration"
      required:
      - trafficSpeed
      - baseSpeed
      - turnTime
    ExitInfo:
      description: Exit information attached to an offset action
      properties:
        number:
          description: Number of the exit (e.g. '18')
          type: array
          items:
            "$ref": "#/components/schemas/LocalizedString"
      example:
        exit:
          number:
          - value: '15'
            language: de
    GetRoutesByHandleParameters:
      description: Parameters for get route by handle
      type: object
      properties:
        avoid:
          "$ref": "#/components/schemas/AvoidPost"
      example:
        "$ref": "#/components/examples/calculateRoutesParametersExample"
    HealthResponseFailSchema:
      description: Returns the health of the service
      properties:
        status:
          description: |
            Health status of the service:

            * `ok` - the service is operating normally
            * `fail` - the service is currently encountering a failure
          type: string
          enum:
          - fail
    HealthResponseOKSchema:
      description: Returns the health of the service
      properties:
        status:
          description: |
            Health status of the service:

            * `ok` - the service is operating normally
            * `fail` - the service is currently encountering a failure
          type: string
          enum:
          - ok
    MatchTracePoint:
      description: GPS probe point with parameters relevant to path or route matching
      properties:
        lat:
          description: Latitude in degrees
          type: number
          format: double
        lng:
          description: Longitude in degrees
          type: number
          format: double
        alt:
          description: Altitude in meters
          type: number
          format: double
        time:
          description: Time the point was sampled. Format is **RFC 3339**, section
            5.6 as defined by `date-time`.  The time differentials of consecutive
            points may be used to improve the quality of matching.
          allOf:
          - "$ref": "#/components/schemas/Time"
        accuracy:
          description: Accuracy of the GPS position, in meters
          type: number
          format: double
        heading:
          description: Degree starting from North clockwise. (0.0 and 360.0 are north)
          type: number
          format: double
      required:
      - lat
      - lng
    Notice:
      description: A notice contains important notifications.
      properties:
        title:
          type: string
          description: Human-readable notice description.
          example: No route found
        code:
          type: string
          description: Notice code.
          example: noRouteFound
        severity:
          "$ref": "#/components/schemas/NoticeSeverity"
        details:
          type: array
          description: Additional details about the notice
          items:
            "$ref": "#/components/schemas/BaseNoticeDetail"
      required:
      - code
    PedestrianMode:
      description: "Extensible enum: `pedestrian` `...`  \nPedestrian mode of transport.\n\nSince
        the supported pedestrian modes may be extended in the future, the pedestrian
        mode should be hidden when an unknown mode is encountered.\n"
      type: string
      x-extensible-enum:
      - pedestrian
      default: pedestrian
    RoadInfo:
      description: Road information attached to an offset action
      properties:
        type:
          "$ref": "#/components/schemas/RoadInfoType"
        name:
          description: |
            Name of the road

            If the road has multiple names, each name will be a separate entry in the array.
            The road names can be in multiple languages. If a preferred language was provided,
            and names in that language are available, they will be prioritized in the array.
            Otherwise the default name of the street is prioritized.
          type: array
          items:
            "$ref": "#/components/schemas/LocalizedString"
        number:
          description: Route name or number (e.g. 'M25')
          type: array
          items:
            "$ref": "#/components/schemas/LocalizedString"
        toward:
          description: Names of destinations on sign which can be reached when going
            in that direction
          type: array
          items:
            "$ref": "#/components/schemas/LocalizedString"
      example:
        fennstrasse:
          type: street
          name:
          - value: Fennstraße
            language: de
          number:
          - value: B96
            language: de
          toward:
          - value: Reinickendorf
            language: de
    RoutingErrorResponse:
      description: Response in case of error
      properties:
        title:
          type: string
          description: Human-readable error description
          example: Input data failed validation
        status:
          type: integer
          description: HTTP status code
          example: 400
        code:
          type: string
          description: |
            Machine readable service error code.

            All error codes of this service start with "`E605`". The last three digits describe a specific error. Provide this error code when contacting support.

            **NOTE:** Please note that the list of possible error codes could be extended in the future. The client application is expected to handle such a case gracefully.

            | Code      | Reason  |
            | --------- | ------- |
            | `E60500X` | Malformed query. Typically due to invalid values such as `transportMode=spaceShuttle` or missing required fields. Check the error message for details. |
            | `E605010` | Invalid combination of truck and transport mode. Check `truck` for valid truck transport modes. |
            | `E605011` | Invalid combination of avoid feature `difficultTurns` and transport mode. Check `avoid` for details. |
            | `E605012` | Invalid combination of transport mode and routing mode. Check `routingMode` for a list of supported combinations. |
            | `E605013` | Invalid return options. Check `return` for valid combinations of values. |
            | `E605014` | Invalid language code. Check `lang` for details on how valid language codes look. |
            | `E605015` | Too many alternatives. Check `alternatives` for the maximum number of alternatives allowed. |
            | `E605016` | Invalid exclude countries. Check `exclude` for details. |
            | `E605017` | `spans` contains a value whose dependency has not been requested |
            | `E605030` | Invalid EV options. Check `ev` for details on how valid EV options look. |
            | `E605032` | Invalid transport mode for speed cap, check `vehicle[speedCap]` for details. |
            | `E605033` | Invalid combination of scooter and transport mode. Check `scooter` for valid scooter transport modes. |
            | `E605034` | Invalid Speed Cap, check `vehicle[speedCap]` for details. |
            | `E605035` | MLDuration is not supported with `vehicle[speedCap]` parameter. |
            | `E605040` | Invalid combination of EV and transport mode. Check `ev` for details. |
            | `E605041` | Invalid combination of EV and routing mode. Check `ev` for details. |
            | `E605042` | Invalid combination of EV and alternatives. Check `ev` for details. |
            | `E605043` | Invalid combination of EV and avoid options. Check `ev` for details. |
            | `E605044` | Invalid combination of EV and exclude options. Check `ev` for details. |
            | `E605046` | Invalid combination of EV and speed cap. Check `ev` for details. |
            | `E605052` | Too many trace points. Check `MatchTrace` for the maximum number of trace points allowed. |
            | `E605101` | Credentials not allowed for calculating routes in Japan. |
            | `E605201` | RouteHandle not valid (anymore). (Re-)calculate route to retrieve new handle. |
            | `E605301` | Pedestrian options are only supported for transport mode `pedestrian`. |
            | `E6055XX` | Internal server error. |
          example: E605001
        cause:
          type: string
          description: Human-readable explanation for the error
          example: The input data in question does not comply with validation rules
        action:
          type: string
          description: Human-readable description of the action that can be taken
            to correct the error
          example: Request a valid id
        correlationId:
          type: string
          description: Auto-generated id that univocally identifies the request
          example: 4199533b-6290-41db-8d79-edf4f4019a74
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
    TrafficIncident:
      description: |
        An incident describes a temporary event on the road network.
        It typically refers to a real world incident (accident, road construction, weather condition, etc.)
        on a street or street segment
      properties:
        description:
          type: string
          description: A human readable description of the incident
          example: closed due to roadworks
        type:
          "$ref": "#/components/schemas/TrafficIncidentType"
        criticality:
          "$ref": "#/components/schemas/TrafficIncidentCriticality"
        validFrom:
          "$ref": "#/components/schemas/Time"
        validUntil:
          "$ref": "#/components/schemas/Time"
    TransitIncident:
      description: |
        An incident describes disruptions on the transit network.
        Disruptions scale from delays to service cancellations.
      properties:
        summary:
          type: string
          description: A human readable summary of the incident
          example: The subway is closed each night between 1 AM and 5 AM.
        description:
          type: string
          description: A human readable description of the incident
          example: The subway is closed each night between 1 AM and 5 AM while we
            clean our trains and stations. We are running extra bus service overnight.
        type:
          "$ref": "#/components/schemas/TransitIncidentType"
        effect:
          "$ref": "#/components/schemas/TransitIncidentEffect"
        validFrom:
          "$ref": "#/components/schemas/Time"
        validUntil:
          "$ref": "#/components/schemas/Time"
        url:
          description: Link to the original incident published at the agency website
          allOf:
          - "$ref": "#/components/schemas/Uri"
      required:
      - type
      - effect
    TransitModeOutput:
      title: Modes
      description: "Extensible enum: `highSpeedTrain` `intercityTrain` `interRegionalTrain`
        `regionalTrain` `cityTrain` `bus` `ferry` `subway` `lightRail` `privateBus`
        `inclined` `aerial` `busRapid` `monorail` `carShuttleTrain` `flight` `spaceship`
        `...`  \nTransit mode of transport in the route response\n"
      type: string
      x-extensible-enum:
      - highSpeedTrain
      - intercityTrain
      - interRegionalTrain
      - regionalTrain
      - cityTrain
      - bus
      - ferry
      - subway
      - lightRail
      - privateBus
      - inclined
      - aerial
      - busRapid
      - monorail
      - carShuttleTrain
      - flight
      - spaceship
    TruckTypeWithDefault:
      description: |
        Specifies the type of truck

        * `straight`: a truck on a single frame with a permanently attached cargo area
        * `tractor`: a towing vehicle that can pull one or more semi-trailers (aka semi-truck)
      type: string
      enum:
[...]
